<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.thumbtack.school.notes.database.mapper.NoteMapper">
    <resultMap id="resultNoteViews" type="net.thumbtack.school.notes.view.NoteView">
        <id property="id" column="note_id"/>
        <result property="subject" column="subject"/>
        <result property="body" column="body"/>
        <result property="sectionId" column="section_id"/>
        <result property="authorId" column="author_id"/>
        <result property="created" column="created"/>
        <collection property="revisions" column="rev1_id" javaType="java.util.List"
                    ofType="net.thumbtack.school.notes.view.NoteRevisionView">
            <result property="id" column="rev1_id"/>
            <result property="body" column="revision_body"/>
            <result property="created" column="rev1_created"/>
            <collection property="comments" column="comment_id" javaType="java.util.List"
                        ofType="net.thumbtack.school.notes.view.CommentView">
                <result property="id" column="comment_id"/>
                <result property="body" column="comment_body"/>
                <result property="authorId" column="comment_author_id"/>
                <result property="noteRevisionId" column="comment_revision_id"/>
                <result property="created" column="comment_created"/>
            </collection>
        </collection>
        <collection property="comments" column="comment_id" javaType="java.util.List"
                    ofType="net.thumbtack.school.notes.view.CommentView">
            <result property="id" column="comment_id"/>
            <result property="body" column="comment_body"/>
            <result property="authorId" column="comment_author_id"/>
            <result property="noteRevisionId" column="comment_revision_id"/>
            <result property="created" column="comment_created"/>
        </collection>
    </resultMap>

    <select id="getAllByParams" resultMap="resultNoteViews" parameterType="java.util.Map">
        WITH t AS (
            SELECT note_revision.note_id, max(note_revision.id) AS revision_id
            <if test="sortByRating != null">
                , avg(rating.value) AS rating
            </if>
            FROM note_revision
            <if test="sortByRating != null">
                LEFT JOIN rating ON note_revision.note_id = rating.note_id
            </if>
            <if test="sectionId != null or timeFrom != null or timeTo != null or author != null or include != null">
                LEFT JOIN note ON note_revision.note_id = note.id
            </if>
            <where>
                <if test="sectionId != null">
                    note.section_id = #{sectionId}
                </if>
                <if test="tags != null">
                    AND match(subject, body) against(#{tags} in boolean mode)
                </if>
                <if test="timeFrom != null">
                    AND note.created &gt;= #{timeFrom}
                </if>
                <if test="timeTo != null">
                    AND note.created &lt;= #{timeTo}
                </if>
                <if test="author != null">
                    AND note.author_id = #{author}
                </if>
                <if test="include != null">
                    AND note.author_id
                    <choose>
                        <when test="include == 'notIgnore'">
                            NOT IN (SELECT ignored_id FROM user_ignored
                        </when>
                        <when test="include == 'onlyFollowings'">
                            IN (SELECT followed_id FROM user_followed
                        </when>
                        <when test="include == 'onlyIgnore'">
                            IN (SELECT ignored_id FROM user_ignored
                        </when>
                    </choose>
                    WHERE user_id = #{user})
                </if>
            </where>
            GROUP BY note_revision.note_id
            <if test="sortByRating != null">
                ORDER BY rating
                <choose>
                    <when test="sortByRating == 'asc'">
                        ASC
                    </when>
                    <when test="include == 'desc'">
                        DESC
                    </when>
                </choose>
            </if>
            <if test='count == null and from != null'>
                LIMIT 2147483647
                OFFSET #{from}
            </if>
            <if test='count != null'>
                LIMIT #{count}
                <if test='from != null'>
                    OFFSET #{from}
                </if>
            </if>
        ) SELECT note_revision.note_id, note_revision.subject, note.created, note.author_id, section_id,
            revision_id, note_revision.created AS revision_created, note_revision.body
            <if test="allVersions">
                , note_revision1.id AS rev1_id, note_revision1.created AS rev1_created,
                note_revision1.body AS revision_body
            </if>
            <if test="comments">
                , note_comment.id AS comment_id, note_comment.created AS comment_created,
                note_comment.body AS comment_body, note_comment.author_id AS comment_author_id
                <if test="commentVersion">
                    , note_comment.note_revision_id AS comment_revision_id
                </if>
            </if>
        FROM t
        LEFT JOIN note ON t.note_id = note.id
        LEFT JOIN note_revision ON revision_id = note_revision.id
        LEFT JOIN note_revision AS note_revision1 ON t.note_id = note_revision1.note_id
        <if test="comments">
            LEFT JOIN note_comment ON note_revision1.id = note_comment.note_revision_id
        </if>
    </select>
</mapper>
